body {
    font-family: 'Josefin Sans', sans-serif; 
}


.container {
    width: 375px;
    height: 730px;
    background-color: #171823;
    position: relative; 
}

.container img {
    z-index: 2;
	display: none;
	width: 100%;
	&.mobile {
		display: block;
	}
}
.header {
    height: 20px;
    top: 48px; 
    left: 26px; 
    position: absolute; 
    display: flex; 
    align-items: center; 
}

.header_title {
    font-size: 28px; 
    font-weight: 600; 
    color: white;
    margin-right: 200px;
}
.todoItem {
    display: flex;
    align-items: center; 
    background-color: #25273D;
    color: #767992;
    width: 327px;
    height: 48px;
    margin-top: -100px;
    margin-left: 24px;
    position: relative;
    border-radius: 5px;
}
.todoItem h5 {
    top: 4px;
    left: 32px;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.16px;
    text-align: left;
}

#toggleButton {
    margin-right: 12px; 
    cursor: pointer;
    background-color: #25273D;
    width: 20px;
    height: 20px;
    border: 1px;
    border-radius: 10px;
    margin-left: 20px;
    border: 1px solid #767992;
}

#toggleButton.active {
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
}

.list {
    width: 327px;
    height: 368px;
    margin-top: 20px;
    left: 24px;
    border-radius: 5px;
    position: relative;
    background-color: #25273D;
}

.list .todoItem {
    display: flex;
    align-items: center; 
    background-color: #25273D;
    color: #767992;
    width: 327px;
    height: 48px;
    margin-top: -100px;
    margin-left: 24px;
    position: relative;
    border-radius: 5px;
    margin: 5px 0; 
}

.footer {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-top: 15px; 
    color: #767992;
}

.items-left, .clear-completed {
    margin: 0;
    color: #5B5E7E;
    font-size: 12px;
}
.items-left {
    margin-left: 22px;
}
.clear-completed {
    margin-right: 22px;
}

.todoItem2 {
    display: flex;
    align-items: center; 
    background-color: #25273D;
    color: #767992;
    width: 327px;
    height: 48px;
    margin-top: 45px;
    position: relative;
    border-radius: 5px;

}
.todoItem2 h4 {
    font-size: 14px;
    display: flex; 
    justify-content: space-between;
    margin-left: 20px;
    padding-left: 30px;
}
p {
    color: #5B5E7E;
    width: 327px;
    height: 14px;
    margin-top: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.19px;
    text-align: center;
}

@media screen and (min-width: 1280px) {
    .container{
        width: 1440px;
        height: 800px;
    }
    .container img{
        &.mobile {
            display: none;
        }
        &.desktop {
            display: block;
            width: 100%;
        }
    }
    .header{
        margin-left: 450px;
        margin-top: 48px;
    }
    .header_title{
        margin-right: 414px;
    }
    .todoItem{
        width: 540px;
        height: 64px;
        margin-left: 473px;
    }
    .list{
        width: 540px;
        height: 439px;
        left: 472px;
    }
    .todoItem2{
        margin-left: 120px;
    }
    p{
        margin-left: 110px;
    }
}